# Ignore all nested native platform files
windows/** linguist-vendored
android/** linguist-vendored
ios/** linguist-vendored
macos/** linguist-vendored
linux/** linguist-vendored

# Ensure Dart files count toward language statistics
*.dart linguist-detectable=true